nav.bar {
  padding: 0;
}

.bar .logo {
  max-height: 4em;
  margin-bottom: 0.5em;
}
@media all and (max-width: 768px) {
  .bar .logo {
    max-height: 3.5em;
    margin: -1em 0;
  }
}

.bar .menu-horizontal {
  top: 15px;
}

section .tapas .tapa {
  padding-top: 1.5rem;
  margin-bottom: 1.5rem;
  background-color: #eee;
}
